



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(255, 255, 255);
    height: 70px;
}

img{
    padding-top: 7px;
    padding-left: 15px;
    padding-bottom: 7px;
}

.all{
    vertical-align: middle;
}

.sfondo{
    background-color: #F6F8F9;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.riquadro{
    background-color: #ffffff;
    border-radius: 3px;
}

.pad{
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 8px;
}

#mid{
    vertical-align: middle;
}

.grassetto{
    font-weight: 700;
}

.square{
    display: inline-block;
    background-color: #46ADF1;
    width: 50px;
    height: 15px;
    border-radius: 3px;
    font-size: 8px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-top: 3px;
    font-weight: 500;
    line-height: 9px;
}

#txt{
    color: #222222;
}

.paddingl{
    padding-left: 5px;
    padding-bottom: 15px;
}



.green{
    color: #64C0A9;
    font-size: 8px;
}

.red{
    color: #ee0e0e;
    font-size: 8px;
}

.square2{
    border: 1px solid gray;
    display: inline-block;
    background-color: #ffffff;
    width: 65px;
    height: 15px;
    border-radius: 3px;
    font-size: 8px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    color: gray;
    padding-top: 3px;
    font-weight: 500;
    line-height: 8px;
}

#title{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

#hr{
    background-color: #F6F8F9;
        border: none;
        height: 2px;
}

.rouderb{
    display: inline-block;
    background-color: #46ADF1;
    width: 50px;
    height: 15px;
    border-radius: 6px;
    font-size: 8px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-top: 3px;
    font-weight: 500;
}

/* ho aggiunto questo circle simone */

.circle{
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
}


/* colors */

.prp{
    background-color: #9C72E4;
}

.grn{
    background-color: #64C0A9;
}

.org{
    background-color: #F29E33;
}

.mgn{
    background-color: #D763A1;
}

.lme{
    background-color: #B0C925;
}